.row {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#orderHere{
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-group{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-group button{
    max-width: fit-content;
    margin: 0;
    min-width: 8vw;
    max-width: 8vw;
    font-size: 0.8rem;
    max-height: 5vh;
}