.row {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#orderHere{
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-group{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-group button{
    max-width: fit-content;
}